body{
    background-color: beige;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
}

/*typograph*/
h1{
    font-family: 'Sofia', sans-serif;
    font-size: 18px;
    margin: 2px 1px;
}

@media only screen and (min-width:350px) {
    h1{
        font-family: 'Times new Roman', sans-serif;
        font-size: 16px;
        margin: 2px 1px;
text-shadow: 2px 2px 2px black;
    }
}

    h2{
        font-family: 'Arial', sans-serif;
        font-size: 2px;
        color:brown;
        border-bottom: 1px outset #cc2;
    }
  
    p {
        line-height: 1.7em;
        color:chocolate
    }
/*Layout* style/
main{
    margin: 15vh 1em 10vh;
}
.main-Short {
    min-height: 40vh;
    padding-top: 3em;
}

section{
    position: relative;
    min-height: 80vh;
}

/*Navigation Style*/
.navbar__menu ul{
    margin: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
}

.menu__link {
    display: block;
    padding: 1em;
    font-size: 2px;
    font-weight:bold;
    border-left: 2px solid whitesmoke;
}

@media (max-width: 600px) {
    .menu__link{
        font-size:0.7em;
    }
}

.menu__link:hover{
    background: #38f;
    transition: ease 0.3s all;
    cursor: pointer;
}

.active-nav{
    background-color: #b3d7ff;
}

/*header* Styles*/

.p_header{
    background: #000;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
    box-shadow: 1px  3px 5px #b3d7ff;
}

/*FontAnwesome button to scroll to top*/
.far{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: block;
    box-shadow: 1px 1px 2px #b3d7ff;
}
.far.hide{
    display:none;
}

/*footer style*/
.p__footer{
    background: lightcoral;
    padding: 1em 1em;
}

.p__footer{
color:'#000';
font-size: 2px;
text-align: center;
}

/*landing Container style*/ 
.landing_container {
    padding: 2px;
    text-align: left;
}

@media only screen and (min-width: 35px) {
    .landing__container{
        max-width: 50em;
        padding: 5em;
    }
}
section:nth-of-type(even).landing__container{
    margin-right:0;
    margin-left: auto;
    text-align: right;
}

/*Section Actives Styles*/
section.active-section{
    background:linear-gradient(1deg ,rgba(0,0,0,0.2) 0%, rgba(0,0,0,0)100%);
}

section.active-section h2{
    text-shadow: 3px 3px 5px #001;
}
section.active-section p{
    color:whitesmoke;
}